

.para{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    }

.text{    
    display: flex;
    background-color: white;
    width: 70%;
    margin:auto;
   padding: 20px;
}