/*class heading not working*/

.project_1,
.project_2 {
	margin-left: 10px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

.para,
.para_1 {
	display: flex;
	flex-direction: column;
	font-size: 30px;
	padding-left: 10%;
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 5%;
}

.know {
	display: flex;
	width: 12%;
	justify-content: left;
	flex-wrap: wrap;
	background-color: var(--gray3);
	color: var(--black);
	font-size: medium;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
}

.know i.fa-github {
	padding-right: 8px;
	padding-left: 8px;
	font-size: 2rem;
}

.know:hover {
	background-color: var(--black);
	color: var(--white);
}

.projects {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	width: 70%;
	margin: auto;
	padding: 20px;
}
