:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}


.navbar {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--gray2);
	padding: 0;
	margin: 0;
}

.nav-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-item {
	display: flex;
	color: var(--black);
	font-weight: bold;
	font-size: xx-large;
	text-decoration: none;
	padding: 25px;
	margin-left: 25px;
	display: block;
}

.flex-item:hover {
	background-color: var(--black);
	color: var(--white);
}

.flex-item:active{
	text-decoration: underline;
}


.body {
	background-color: var(--black);
}

.name {
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	font-family: "Times New Roman", Times, serif;
}

.education {
	font-weight: bold;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

.img_n_name {
	display: block;
	background-color: var(--white);
	margin-right: 300px;
	margin-left: 300px;
	padding: 20px;
}

.heading {
	color: var(--white);
	margin-top: 50px;
	font-weight: bold;
	margin-left: 30px;
	font-family: "Times New Roman", Times, serif;
}
