/* Code for exercise 01-flex */
.navbar {
	display: flex;
	flex-wrap: wrap;
	background-color: gray;
	padding: 0;
	margin: 0;
}

.nav-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-item {
	color: black;
	font-weight: bold;
	font-size: xx-large;
	text-decoration: none;
	padding: 25px;
	display: block;
}

.flex-item:hover {
	background-color: black;
	color: white;
}

.body {
	/* background-color:  rgb(111, 202, 207);*/
	background-color: black;
}

.name {
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	font-family: "Times New Roman", Times, serif;
}

.education {
	font-weight: bold;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

.img_n_name {
	display: block;
	background-color: white;
	margin-right: 300px;
	margin-left: 300px;
	padding: 20px;
}

.heading {
	color: White;
	margin-top: 50px;
	font-weight: bold;
	margin-left: 30px;
	font-family: "Times New Roman", Times, serif;
}
