.grid{
    background-color: rgb(14, 136, 143);
}

nav{
  display: grid;
}

ul{
    list-style-type: none;  
}


.a_class{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(27, 174, 182);
    border: 0.5px solid rgb(50, 151, 160) ;
    padding: 15px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
}

.a_class:hover{
    background-color: rgb(111, 202, 207);
}

.body{
    background-color:  rgb(111, 202, 207);
}

.name{
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-family:'Times New Roman', Times, serif;
}

.education{
    font-weight: bold;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.img_n_name{
     display: block;
    background-color: white;
    margin-right: 300px;
    margin-left: 300px;
    padding: 20px;
}


.heading{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 30px;
    font-family:'Times New Roman', Times, serif;
}





